{% extends '::base.html.twig' %}

{% block body -%}
    <h1>FicheFrais list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Datedemodification</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('fichefrais_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.datedemodification %}{{ entity.datedemodification|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('fichefrais_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('fichefrais_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('fichefrais_new') }}">
                Create a new entry
            </a>
        </li>
        <li>
            <a href="{{ path('projetGSB_admin_index') }}">
                Return to home page
            </a>
        </li>
    </ul>
    {% endblock %}
